
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:black;
}

.menu a{
  text-decoration: none;
}

.menu_text{
  margin: 20px;
  padding: 10px;
  color: white;
  font-family: Lato;
  font-size: 30px;
}

.menu a:hover{
  color: #365881;
}

h1{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: Lato;
  font-size: 150px;
  font-weight: 1000;
}

.body{
  background-color: black;
}

h2{
  display: flex;
  justify-content: center;
  margin: 11%;
  font-family: Lato;
  color: black;
  font-size: 60px;
  background-color: rgba(211,211,211, 0.6);
}

h3{
  text-align: center;
  color: white;
  font-family: Lato;
  font-weight: light;
  font-size: 30px;
}

h4{
  display: flex;
  justify-content: center;
  color: white;
  font-family: lato;
  font-weight: lighter;
  font-size: 20px;
}

.main_panel{
  float: none;
  display: flex;
  justify-content: center;
  margin: 230px;
}

.image1{
  margin-bottom: 200px;
  display: flex;
  background-image: url("beauty.jpg");
  justify-content: center;
  background-size: cover;
  height: 400px;
  background-attachment: fixed;
}

.middle_panel{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  height: auto;
  position: inherit;
  background-color:#365881;
}

.image{
  background-image: url("climate.jpeg");
  background-position: center;
  background-size: cover;
  height: 700px;
  background-attachment: fixed;
}


.text_container{
  margin: 100px 30px 100px 30px;
  text-align: center;
}


.text{
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 50px;
  color: white;
  font-family: Lato;
  font-weight: 600;
}

.thumbnailContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
  align-items: center;
  padding: 0px;
}

.thumbnail {
  width: 33%;
  height: 400px;
  margin: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image3{
  background-image: url("beauty2.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  background-attachment: fixed;
}
.link{color: black}
a:hover {color: white}
a:active {color: blue}
